@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #6f6af8;
  --color-white: #fff;
  --color-red: rgb(255, 63, 6);
  --color-gray-100: hsl(220, 20%, 10%, 5%);
  --color-gray-200: hsl(220, 20%, 10%, 10%);
  --color-gray-300: hsl(220, 20%, 10%, 25%);
  --color-gray-500: hsl(220, 20%, 10%, 50%);
  --color-gray-700: #252542;
  --color-gray-900: #0c0c22;

  --color-bg: hwb(240 95% 0%);
  --transition: all 300ms ease;

  --container-width-lg: 84%;
  --container-width-md: 92%;
  --form-widht: 50%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--color-gray-700);
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.loader-container {
  position: fixed;
  /* Ensure it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center the loader both vertically and horizontally */
  backdrop-filter: blur(1px);
  /* Apply blur effect */
  background-color: rgba(240, 248, 255, 0.3);
  /* Slight overlay for better visibility */
  z-index: 9999;
  /* Ensure it appears above other elements */
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  /* Light border */
  border-top: 5px solid #3498db;
  /* Spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}